.detailMovie {
  background-position: right;
  background-color: #000;
  /* padding: 0; */
  background-repeat: no-repeat;
  background-size: cover;
}
.detailMovie button {
  background-color: transparent;
  border: none;
}
.detailMovie p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.movieContent {
  max-width: 512px;
  /* padding-left: 56px; */
  padding-top: 61px;
}
.movieContent h1 {
  padding: 40px 0 12px;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
}
.movieContent h4 {
  padding: 12px 0 24px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 152%;
  /* opacity: 0.7; */
}
.movieContent h5 {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.movieDetails {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}
@media (max-width: 768px) {
  .movieDetails {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }
}
.movie {
  display: none;
  position: absolute;
  left: 22.3%;
  top: 25%;
  background: #2e2a21;
  border-radius: 10px;
  padding: 50px;
  animation: popup 0.7s;
}
.movie.active {
  display: block;
}
.detailMovie .pop {
  background-color: #c64131;
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 20px;
  cursor: pointer;
}
.app {
  position: relative;
}
.movieVidContent {
  position: relative;
}
.movieVidContent button {
  position: absolute;
  background-color: transparent;
  color: #fff;
  border: 1px solid;
  right: -40px;
  top: -39px;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

