.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.heading h3{
    color: #fff;
}
.heading button{
    padding:6px 15px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    position: relative;
}
.active .rating{
    display: block;
}
.rating{
    display: none;
    position: absolute;
    z-index: 9;
    background: #0c111bb8;
    border-radius: 5px;
    border: 1px solid #fff;
}
.rating button{
    border: none;

}