.login{
    height: 94.4vh;
    padding-top: 150px;
    background-image: url(../../assets/images/bg.jpeg);
}
.loginForm {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1.5px solid #bcbcbc;
}
.formContainer {
  padding: 10px 0;
}
.formContainer input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: rgb(255, 255, 255, 1);
  letter-spacing: 1px;
}
.formContainer input::placeholder {
  color: rgb(255, 255, 255, 0.8);
}
.formContainer:last-child {
  text-align: center;
}
.formContainer button {
  padding: 6px 15px;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
